[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/nviennot/molokai.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/airline-themes"]
	path = bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/jsx"]
	path = bundle/jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "bundle/json"]
	path = bundle/json
	url = https://github.com/elzr/vim-json.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/visual-star-search"]
	path = bundle/visual-star-search
	url = https://github.com/bronson/vim-visual-star-search.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule "bundle/HiLinkTrace"]
	path = bundle/HiLinkTrace
	url = https://github.com/gerw/vim-HiLinkTrace
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "bundle/bufsurf"]
	path = bundle/bufsurf
	url = https://github.com/ton/vim-bufsurf.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/l9"]
	path = bundle/l9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/misc"]
	path = bundle/misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/nginx"]
	path = bundle/nginx
	url = https://github.com/vim-scripts/nginx.vim
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/thrift"]
	path = bundle/thrift
	url = https://github.com/solarnz/thrift.vim.git
[submodule "bundle/textobj"]
	path = bundle/textobj
	url = https://github.com/kana/vim-textobj-user.git
[submodule "bundle/textobj-line"]
	path = bundle/textobj-line
	url = https://github.com/kana/vim-textobj-line.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/swift"]
	path = bundle/swift
	url = https://github.com/keith/swift.vim.git
[submodule "bundle/objc"]
	path = bundle/objc
	url = https://github.com/b4winckler/vim-objc.git
[submodule "bundle/indent-object"]
	path = bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/expand-region"]
	path = bundle/expand-region
	url = https://github.com/terryma/vim-expand-region.git
[submodule "bundle/grepper"]
	path = bundle/grepper
	url = https://github.com/mhinz/vim-grepper.git
[submodule "bundle/jsbeautify"]
	path = bundle/jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
[submodule "bundle/SimpylFold"]
	path = bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/esformatter"]
	path = bundle/esformatter
	url = https://github.com/millermedeiros/vim-esformatter.git
[submodule "bundle/vimux"]
	path = bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "bundle/notes"]
	path = bundle/notes
	url = https://github.com/xolox/vim-notes.git
[submodule "bundle/css3"]
	path = bundle/css3
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "bundle/scss"]
	path = bundle/scss
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/test"]
	path = bundle/test
	url = https://github.com/janko-m/vim-test.git
[submodule "bundle/python"]
	path = bundle/python
	url = https://github.com/vim-python/python-syntax.git
[submodule "bundle/textobj-python"]
	path = bundle/textobj-python
	url = https://github.com/bps/vim-textobj-python.git
[submodule "bundle/highlightedyank"]
	path = bundle/highlightedyank
	url = https://github.com/machakann/vim-highlightedyank.git
